@charset "utf-8";

body {
  font: 12px/1.5 Helvetica Neue, Helvetica, Arial,
    Hiragino Sans GB, \5FAE\8F6F\96C5\9ED1, tahoma,
    simsun, \5b8b\4f53;
  color: #999;
  background-color: #f6f6f6;

}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 Helvetica Neue, Helvetica, Arial, Hiragino Sans GB, \5FAE\8F6F\96C5\9ED1, tahoma, simsun, \5b8b\4f53
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.clear-fix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;

}

.clear-fix {
  *zoom: 1;
}

/* 三个横线组成的图标 */
.lineicon {
  display: inline-block;
}

.lineicon i {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin-top: 3px;
}

.lineicon .first {
  margin-top: 0px;
}

.w-hot-title {
  position: relative;
  height: 74px;
  line-height: 32px;
  padding-top: 25px;
  border-top: 1px solid #e9e9e9;
  margin: 0;
  font-size: 14px;
  color: #999;
  /* 告诉浏览器：你想要设置的边框和内边距的
  值是包含在width内的 */
  box-sizing: border-box;
}
.w-hot-title .big {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  margin-right: 10px;
}
