@charset "utf-8";

#footer {
  margin-top: 100px;
  border-top: 1px solid #eaeaea;
  background-color: #fff;
}

#footer .foot-top {
  position: relative;
  width: 1100px;
  height: 148px;

  margin: 0 auto;
  /* background-color: red; */
}

#footer .foot-top .list {
  display: flex;
  /* background-color: greenyellow; */
  padding: 49px 0;
  justify-content: space-around;
}

#footer .foot-top .list .list-item {
  width: 233px;
  height: 48px;

  /* margin: auto 0; */
  /* background-color: orange; */
}

#footer .foot-top .btnicon {
  float: left;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  margin-right: 12px;
  border: 2px solid #d6d6d6;
}

#footer .foot-top .list-item strong {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

#footer .foot-top .list-item span {
  display: block;
  color: #000;
}


.sidebar {
  position: fixed;
  height: 243px;
  width: 62px;
  right: 20px;
  top: 110px;
  background-color: greenyellow;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.sidebar .sidebar-item {
  height: 62px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  text-align: center;
  line-height: 62px;
}

.sidebar .sidebar-item:hover {
  background-color: #eaeaea;
}